.board {
    background: white;
    margin: 0;
    -webkit-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
}

    .board canvas {
    }

    .board .menu {
        height:30px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        //background: lightblue;
        border-radius: 0px 0px 15px 0px;
        margin:0;
        border-top: 1px solid black;
    }

    .board canvas {
        
    }
