.chatContainer {
    padding-bottom: 25px;
    background: #EBF4FB;
    border: 1px solid #ACD8F0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 5px 5px lightgray;
}

    .chatContainer .chatbox {
        text-align: left;
        margin: 15px auto;
        margin-bottom: 25px;
        padding: 10px;
        background: #fff;
        height: 415px;
        width: 100%;
        border: 1px solid #ACD8F0;
        overflow: auto;
    }

.messageForm {
    margin: 0;
    padding: 0;
}

    .messageForm .msg {
        width: 80%;
        border: 1px solid #ACD8F0;
    }

    .messageForm .send {
        width: 20%;
    }
