body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

#main {
    padding-top: 20px;
}

.principal {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid black;
    background: lightblue;
    padding: 0 0 0 5px;
    margin-right: 2px;
    box-shadow: 3px 5px 5px lightgray;
}